version: "3.8"
services:
  juno:
    build:
      context: juno
      args:
        UPSTREAM_VERSION: v0.15.1
    image: juno.dnp.dappnode.eth:2.0.2
    security_opt:
      - seccomp:unconfined
    environment:
      ETH_L1_RPC_URL:
      ENABLE_WS: true
      WS_HOST: 0.0.0.0
      EXTRA_OPTS: ""
    volumes:
      - juno_data:/var/lib/juno
    restart: unless-stopped

volumes:
  juno_data: {}
