version: "3.8"
services:
  juno:
    build:
      context: juno
      args:
        UPSTREAM_VERSION: v0.15.16
    security_opt:
      - seccomp:unconfined
    environment:
      ETH_L1_RPC_URL: null
      ENABLE_WS: true
      WS_HOST: 0.0.0.0
      EXTRA_OPTS: ""
      HTTP_PORT: 6060
      WS_PORT: 6061
    volumes:
      - juno_data:/var/lib/juno
    restart: unless-stopped
  staking:
    image: nethermind/starknet-staking-v2:v0.2.9
    command:
      ["--metrics", "--metrics-host", "0.0.0.0", "--metrics-port", "9090"]
    environment:
      PROVIDER_HTTP_URL: http://juno:6060/rpc/v0_8
      PROVIDER_WS_URL: ws://juno:6061/ws/v0_8
      SIGNER_OPERATIONAL_ADDRESS: ""
      SIGNER_PRIVATE_KEY: ""
      SIGNER_EXTERNAL_URL: ""
    restart: unless-stopped
volumes:
  juno_data: {}
