version: "3.8"
services:
  juno:
    build:
      context: juno
      args:
        UPSTREAM_VERSION: v0.15.12
    security_opt:
      - seccomp:unconfined
    environment:
      ETH_L1_RPC_URL: null
      ENABLE_WS: true
      WS_HOST: 0.0.0.0
      EXTRA_OPTS: ""
      HTTP_PORT: 6060
      WS_PORT: 6061
    volumes:
      - juno_data:/var/lib/juno
    restart: unless-stopped
volumes:
  juno_data: {}
